<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <!— CSS Stylesheets —>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/base.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/fonts_style.css')}}">
    <!— Fonts —>
    <link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='https:http://www.dafont.com/kg-hard-candy.font'>
    <!— Icons —>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <title>CAPSTONE 101</title>
</head>

<body>
    <!-- heading -->
    <h1>SO YOU THINK YOU CAN INITIATE YOUR OWN CAPSTONE PROJECT?</h1>
    <h2>It's ok, because we have you covered. Mostly.</h2>
    <!-- this is the list of instructions -->
    <div>
        <ul id="capstone101">
            <li id="capstone101li">
                <p id="step"><b>STEP 1: FIND A FRIEND</b></p>
                <p id="content">
                    So you've heard of the Student Initiated Capstone project, and now you're all interested in doing one yourself. Well, Step 1 is to find atleast one other person who's willing to work on a project with you.
                    <br>Look for a person who has interests in similar areas as you do; this makes it easier to agree upon capstone ideas that interests you both. Having another person from the beginning goes a <i>long</i> way in the process; it really does.
                </p>
            </li>
            <li id="capstone101li">
                <p id="step"><b>STEP 2: FIND A PROJECT AND COMPANY</b></p>
                <p id="content">
                    Ok, so now there are two (or more) of you. The next thing you need is a project idea <i>(duh)</i>. One way of doing this is to go approach the company you're spending your Summer interning for. (Yes, this assumes you are interning somewhere, and that you like the company you're interning at.)
                    <br> Alternatively, you could approach one of the multiple contacts you've accumulated over the years. At this point, ofcourse, you're probably going to have a project idea in mind, but fret not if you don't. Some companies might actually have some project ideas they're interested in sponsoring, so they might give you a project when you go apporach them. Just make sure you have a definitive area of interest, though.
                </p>
            </li>
            <li id="capstone101li">
                <p id="step"><b>STEP 3: FIND SOME MORE PEOPLE, AND START FILLING UP YOUR FORM</b></p>
                <p id="content">
                    Project idea? Check. Project sponsor? Check. Well then, it's time to start filling up your team and capstone form. Remember, you're not the only ones wanting to do a capstone, which means there are other teams looking for teammates too. In short: <i>GO FIND PEOPLE!</i>
                    <br> Make sure that you meet the Multi-pillar (i.e. more than two) requirement, and that the people you're recruiting fit the project description. The allowed group size is betweeen 5-7 people.
                    <br> At the same time, start filling up the Capstone Form provided by the Capstone committee. This may seem like a lot of grunt work, but it's actually pretty handy when you're looking for a summary of the description of your capstone project while explaining it to someone. Plus, it's better to get it out of the way. Really.
                </p>
            </li>
            <li id="capstone101li">
                <p id="step"><b>STEP 4: FIND A SUTD MENTOR</b></p>
                <p id="content">
                    We're almost there! The last necessary step you need to take before submitting your proposal is to find a SUTD mentor. We've put this last because really, it's not that hard to find a mentor in school, right? WRONG. The reality of the situation is slightly different because you need to find a professor who's willing to mentor your project, but also has time in their schedule to do so.
                    <br> So what we did was to make this cool table on which you can see professors, the pillars they're from, and their availability to mentor a capstone. Check it out!
                </p>
            </li>
        </ul>

        <table class="tablething"  align="center" >
            <thead>
                <tr>
                {%for heading in s.title%}
                    <td>{{heading}}</td>
                {%endfor%}
                </tr>
            </thead>
            <tbody>
                {%for info in s.data%}
                <tr>
                    {%for details in info%}
                    <td>{{details}}</td>
                    {%endfor%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</body>

</html>
